@import "bootstrap-sprockets";
@import "bootstrap";

html,body {
background-color: #f7f7f9;
}

.container {
  margin-top: 50px;
}

.image .col-md-10 {
  margin-top: 85px;

  .btn {
    width: 150px;
  }
}

.Login {
  margin-top: 100px;
}
